<!DOCTYPE html>
<!-- {% load static %} -->

<!-- <link rel="stylesheet" type="text/css" href="{% static 'words/style.css' %}"> -->

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 


<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
      <div class="row">
        <div class="col-lg-7" style="height: 600px; background-color: green">
        </div>
        <div class="col-lg-5" style="height: 600px">
              <div class="col-lg-12" style="height: 200px; background-color: yellow">
              heysadsadsa
              asdasdsad
              
              asdsadasdsadasdsadsadsaasdsadsadasdsadsad
              </div>
              <div class="col-lg-12" style="height: 200px; background-color: red">
              hi
              </div>
              <div class="col-lg-12" style="height: 200px; background-color: black">
              hoi
              </div>
        </div>
      </div>
  </body>
</html>
